<div class="chats-menu">
    <div class="chats-menu-settings">
        <div class="chats-menu-settings-user_settings">
            {{#if chat.menu.avatar_link}}
                <img class="user-avatar" src="{{chat.menu.avatar_link}}" alt>
            {{else}}
                <div class="user-avatar"></div>
            {{/if}}
            <div class="chats-menu-settings-user-content">
                <span class="user-title">
                    {{chat.menu.title}}
                </span>
                <span class="user-message">
                    {{chat.menu.message}}
                </span>
            </div>
            <div class="'user-settings'">
                {{>icons/icon-settings}}
            </div>
        </div>
        <input class="chats-input-search" placeholder="Поиск" type="text" value="{{chat.menu.search}}">
    </div>
    {{>chats/menu/users}}
</div>
