<div class="chats-menu-settings-users">
    {{#each chat.items as |user| }}
        <div class="{{chatClass user.id }}">
            {{#if user.avatar_link}}
                <img class="user-avatar" src="{{user.avatar_link}}" alt>
            {{else}}
                <div class="user-avatar"></div>
            {{/if}}
            <div class="chats-menu-settings-user-content">
                <span class="user-title">
                    {{user.content.title}}
                </span>
                <span class="user-message">
                    {{user.content.message}}
                </span>
            </div>
            <div class="flex-column-wrapper">
                <span class="user-time">
                    {{user.content.data.time}}
                </span>
                {{#if user.content.data.new_messages }}
                  <span class="user-new_message">
                      {{user.content.data.new_messages}}
                  </span>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
