<form class="{{formClass}}">
    <h1 class="{{error.500.title.class}}">
        {{error.500.title.value}}
    </h1>
    <h2 class="{{error.500.subtitle-main.class}}">
        {{error.500.subtitle-main.value}}
    </h2>
    <span class="{{error.500.subtitle-secondary.class}}">
        {{error.500.subtitle-secondary.value}}
    </span>
    <a class="{{error.500.button.class}}" href="{{error.500.button.href}}">
        {{error.500.button.value}}
    </a>
</form>
