<form class="{{formClass}}">
    <h1 class="{{auth.title.class}}">{{auth.title.value}}</h1>
    {{#each auth.inputs as |input| }}
        <input class="{{input.class}}" value="{{input.value}}" placeholder="{{input.placeholder}}" type="{{input.type}}">
    {{/each}}
    {{#each auth.buttons as |button| }}
        <a class="{{button.class}}" href="{{button.href}}">
            {{button.value}}
        </a>
    {{/each}}
</form>
