<form class="{{formClass}}">
    <h1 class="title-auth">Авторизация</h1>
    {{#each inputs.auth as |input| }}
        <input class="{{input.class}}" value="{{value}}" placeholder="{{placeholder}}" type="{{type}}">
    {{/each}}
    <a class="auth-button" href="/chats">ВХОД</a>
    <a class="auth-link" href="/registration">ЕЩЁ НЕ ЗАРЕГИСТРИРОВАНЫ?</a>
</form>
