<form class="{{formClass}}">
    <h1 class="{{registration.title.class}}">
        {{registration.title.value}}
    </h1>
    {{#each registration.inputs as |input| }}
        <input class="{{input.class}}" value="{{input.value}}" placeholder="{{input.placeholder}}" type="{{input.type}}">
    {{/each}}
    {{#each registration.buttons as |button| }}
        <a class="{{button.class}}" href="{{button.href}}">
            {{button.value}}
        </a>
    {{/each}}
</form>
